{% extends "base.html" %}
{% block contenido %}
<div class="card shadow p-4">
    <h2 class="mb-4 text-center">Calculadora de TMB (Mifflin-St Jeor)</h2>
    <form method="POST" action="/resultado">
        <div class="mb-3">
            <label>Peso (kg)</label>
            <input type="number" step="0.1" name="peso" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Altura (cm)</label>
            <input type="number" step="0.1" name="altura" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Edad (años)</label>
            <input type="number" name="edad" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Género:</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" value="hombre" required>
                <label class="form-check-label">Hombre</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" value="mujer">
                <label class="form-check-label">Mujer</label>
            </div>
        </div>

        <div class="mb-3">
            <label>Nivel de Actividad:</label>
            <select name="actividad" class="form-select" required>
                <option value="sedentario">Sedentario (TMB × 1.2)</option>
                <option value="ligera">Actividad Ligera (TMB × 1.375)</option>
                <option value="moderada">Actividad Moderada (TMB × 1.55)</option>
                <option value="alta">Actividad Alta (TMB × 1.725)</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary w-100">Calcular</button>
    </form>
</div>
{% endblock %}
